body{
    font-family:Arial;
    text-align:center;
}

.container{
    display:flex;
    justify-content:center;
    gap:20px;
}

.box{
    border:1px solid black;
    padding:20px;
    width:200px;
}
